@import url(https://use.typekit.net/evk8uja.css);


#apiEnquiryForm , #apiEnquiryForm2 , #apiEnquiryForm3 {
	margin:0px;
	font-family: ff-tisa-web-pro, serif;
	font-size:18px;
	padding-top: 24px;
	padding-bottom: 10px;	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-shadow: 2px 2px 10px #848484;
	box-sizing: border-box;         /* Opera/IE 8+ */	
	border-radius:20px;
	background-color:#54c8e1;
	color: #FFF;
	margin-left: 5%;
	margin-right: 5%;
}

#apply-form label {

	background-color: #FFF;
}
#apiEnquiryForm * , #apiEnquiryForm3 * , #apiEnquiryForm2 * {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

#apiEnquiryForm label, #apiEnquiryForm2 label , #apiEnquiryForm3 label {
	display: block;
}

#apiEnquiryForm label.radio , #apiEnquiryForm2 label.radio , #apiEnquiryForm3 label.radio {
	display: inline;
}

#apiEnquiryForm input[type=text] , #apiEnquiryForm select , #apiEnquiryForm textarea, #apiEnquiryForm2 input[type=text] , #apiEnquiryForm2 select , #apiEnquiryForm2 textarea , #apiEnquiryForm3 input[type=text] , #apiEnquiryForm3 select , #apiEnquiryForm3 textarea  {
	width:100%;
	padding: 0 10px;	
	border-width: 0px;
	font-size: 16px;
	font-family: ff-tisa-sans-web-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #303c44;
}
input[type="text"]:focus {
	border-color: #1b4b6d !important;}
#apiEnquiryForm input[type="text"]:focus , #apiEnquiryForm2 input[type="text"]:focus , #apiEnquiryForm3 input[type="text"]:focus{
border-color: #1b4b6d !important;
}
#apiEnquiryForm input[type=text]:focus , #apiEnquiryForm2 input[type=text]:focus , #apiEnquiryForm3 input[type=text]:focus {
border-color: #1b4b6d !important;
}
#apiEnquiryForm input[type=text]:focus , #apiEnquiryForm2 input[type=text]:focus , #apiEnquiryForm3 input[type=text]:focus{
    border-color: #1b4b6d !important;
    background-image: url(/Images/Ok_icon.png);
    background-repeat: no-repeat;
    background-position: 95%;
}
#apiEnquiryForm select , #apiEnquiryForm2 select , #apiEnquiryForm3 select {
	-moz-appearance: none;
 	-webkit-appearance: none;	
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}

#apiEnquiryForm input.postCode , #apiEnquiryForm2 input.postCode, #apiEnquiryForm3 input.postCode{
	width:100%;
}

#apiEnquiryForm select.landLineNumberAreaCode, #apiEnquiryForm2 select.landLineNumberAreaCode , #apiEnquiryForm3 select.landLineNumberAreaCode{
	width:25%;
}

#apiEnquiryForm input.landLineNumber , #apiEnquiryForm2 input.landLineNumber, #apiEnquiryForm3 input.landLineNumber{
	width:70%;
	float:right;
}

#apiEnquiryForm select.state , #apiEnquiryForm2 select.state , #apiEnquiryForm3 select.state{
	width:100%;
}

#apiEnquiryForm textarea ,  #apiEnquiryForm2 textarea , #apiEnquiryForm3 textarea {
	height:50px;
	padding: 5px 10px
}

#apiEnquiryForm input[type=button] , #apiEnquiryForm2 input[type=button] , #apiEnquiryForm3 input[type=button] {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aad75b', endColorstr='#d1e990');
    background-color: #e8311f !important;
    border-radius: 20px !important;
    color: #ffffff !important;
    font-family: "ff-tisa-web-pro", Sans-serif;
    font-weight: 400;
    text-transform: capitalize;
	font-size: 18px !important;
	border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.29);
	letter-spacing: 0px;
	height: 40px;
    line-height: 5px !important;
    border: 0;
    cursor: pointer;
    outline: 0 none;
    overflow: hidden;
    position: relative!important;
    text-align: center;
    text-shadow: none;
    width: 94%;
	margin: 5px 3%;
    bottom: 0 !important;
    border: 0 !important;
}

#apiEnquiryForm input[type=button]:hover , #apiEnquiryForm2 input[type=button]:hover , #apiEnquiryForm3 input[type=button]:hover{
	background-color: #1b4b6d !important;
}
#apiEnquiryForm input[type=button]:active , #apiEnquiryForm2 input[type=button]:active , #apiEnquiryForm3 input[type=button]:active{
	position:relative;
	top:1px;
}


#apiEnquiryForm p.api-post-failed , #apiEnquiryForm2 p.api-post-failed , #apiEnquiryForm3 p.api-post-failed {
	color: red;
	color: red;
}

#apiEnquiryForm p.api-post-success , #apiEnquiryForm2 p.api-post-success , #apiEnquiryForm3 p.api-post-success{
}

@media (max-width: 220px) {
	#apiEnquiryForm select.state , #apiEnquiryForm2 select.state , #apiEnquiryForm3 select.state{
		width:100% !important;
	}	
	#apiEnquiryForm input.postCode , #apiEnquiryForm2 input.postCode , #apiEnquiryForm3 input.postCode {
		width:100% !important;
	}
	#apiEnquiryForm select.landLineNumberAreaCode , #apiEnquiryForm2 select.landLineNumberAreaCode , #apiEnquiryForm3 select.landLineNumberAreaCode{
		width:30% !important;
	}
	#apiEnquiryForm input.landLineNumber , #apiEnquiryForm2 input.landLineNumber , #apiEnquiryForm3 input.landLineNumber {
		width:65% !important;
	}

}

@media (max-width: 166px) {
	#apiEnquiryForm select.landLineNumberAreaCode , #apiEnquiryForm2 select.landLineNumberAreaCode , #apiEnquiryForm3 select.landLineNumberAreaCode {
		width:100% !important;
	}	
	#apiEnquiryForm input.landLineNumber , #apiEnquiryForm2 input.landLineNumber , #apiEnquiryForm3 input.landLineNumber {
		float:none !important;
		width:100% !important;
	}
	#apiEnquiryForm select.state , #apiEnquiryForm2 select.state , #apiEnquiryForm3 select.state {
		width:100% !important; 
	}
	#apiEnquiryForm input.postCode , #apiEnquiryForm2 input.postCode , #apiEnquiryForm3 input.postCode {
		width:100% !important;
	}	
}
.squaredFour {
	width: 100%;
	margin: 20px auto;
	position: relative;
	text-align: center;
}

.squaredFour label {
	display: inline-block !important;
	margin-top: 4px !important;		
	margin-bottom: -13px;
	cursor: pointer !important;
	width: 20px !important;
	height: 30px !important;
	background-image: url(/Images/TC-icon.png) !important;
	background-repeat: no-repeat !important;
}

.squaredFour input[type=checkbox]:checked + label{
	background-image: url(/Images/TC-icon_checked.png) !important;
}

.squaredFour label:hover::after {
	-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=30)' !important;
	filter: alpha(opacity=30) !important;
	opacity: 0.5 !important;
}

.squaredFour input[type=checkbox]:checked + label:after {
	-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)' !important;
	filter: alpha(opacity=100) !important;
	opacity: 1;
}
.squaredFour p{
	display: inline;
}

#apiEnquiryForm label, #apiEnquiryForm input, #apiEnquiryForm select, .switch-title {
	display: block;
	text-align: center;
	width: 100%;
	font-size: 18px;
	font-weight: 400;
}

#apiEnquiryForm label {
	padding-bottom: 10px;
}

#apiEnquiryForm input, #apiEnquiryForm select, textarea {
	color: #1b4b6d!important;
	background-color: #fff;
	border: none;	
	font-size: 16px;
	font-weight: 400;
}

#apiEnquiryForm input, #apiEnquiryForm select, textarea {
	height: 35px;
}

#apiEnquiryForm select {
	text-align: center;
	text-align-last: center;
 }

#apiEnquiryForm input::placeholder, #apiEnquiryForm select option {
	color: #1b4b6d!important;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	text-align:-moz-center;
    text-align:-webkit-center;
}

#apiEnquiryForm p, #apiEnquiryForm a, #error_message { 
	color:#fff;
	padding: 0 25px;
	font-size: 17px;
	font-weight: 400;	
	text-align: center;
}

#apiEnquiryForm a {
	padding: 0!important;
}

#apiEnquiryForm a:hover {
	color:#fff!important;
	padding: 0!important;
}

#error_message {
	display: none!important;
}

input[type="button" i] {
    user-select: none;
    white-space: pre;
    cursor: default;
    color: #FFF;
    background-color: #eb2f23;
    box-sizing: border-box;
    padding: 10px 20px;
    border-width: 0px;
	font-weight: bold;
	text-transform: capitalize;
	font-size: 21px;
}

.switch-title {
	color: #fff;
	padding: 0 25px;
	font-size: 19px;	
}

.switch-field label {
	background-color: #a2ced4;	
}

.switch-buttons {
	text-align: center;
	display: block;
    width: 100%;
}

.switch-buttons label {
	width: 100%!important;
}

#apiEnquiryForm input[type=radio] {
    width: 120px!important;
}

.switch-buttons-yes, .switch-buttons-no {
    width: 120px;
    display: inline-block;
    padding: 0 5px;
}

#time-job-block .switch-buttons-yes, #time-job-block .switch-buttons-no,
#judgetime-block .switch-buttons-yes, #judgetime-block .switch-buttons-no,
#address-block .switch-buttons-yes, #address-block .switch-buttons-no {
    width: 170px!important;
}

#paid-block .switch-buttons-yes, #paid-block .switch-buttons-no {
    width: 90px!important;
}

.switch-buttons-yes {
	text-align: right;
}
.switch-buttons-no {
	text-align: left;
}

.switch-field label:first-of-type, .switch-field label:last-of-type {
	border-radius: 20px!important;
	background-color: #fff !important;
	color: #1b4b6d !important;
	font-weight: bold!important;
	border: 0px !important;
	height: 30px;
	font-weight: 400;
	font-style: normal;
	text-transform:uppercase;
}

.nocreaitimapct {
	display:none;
    color: #fff;
    padding: 10px;
    text-align: center;
    background-color: #54c8e1;
    border-top: 0px;
    font-weight: bold;
	padding-bottom: 30px;
	width: 90%;
	margin-left: 5%;
    margin-right: 5%;
}

.switch-field label {
	background-color: #e4e4e4 !important;
	color: rgba(0, 0, 0, 0.2) !important;
	font-size: 14px !important;
	font-weight: normal !important;
	text-align: center !important;
	text-shadow: none !important;
	padding: 6px 14px !important;
	border: 1px solid rgba(0, 0, 0, 0.2) !important;
	-webkit-transition: all 0.1s ease-in-out !important;
	-moz-transition:    all 0.1s ease-in-out !important;
	-ms-transition:     all 0.1s ease-in-out !important;
	-o-transition:      all 0.1s ease-in-out !important;
	transition:         all 0.1s ease-in-out !important;
  }

.comments-section {
	margin-top: 20px;
	padding: 0!important;
}

#apiEnquiryForm fieldset:not(:first-of-type) {
display: none;
}

.squaredFour {
    width: 100%;
    margin: 20px auto;
    position: relative;
}

.squaredFour input[type=checkbox]:checked + label{
	background-image: url(http://www.staging.australianlendingcentre.com.au/wp-content/uploads/2017/06/TC-icon_checked.png);
}

.squaredFour label:hover::after {
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=30)';
    filter: alpha(opacity=30);
    opacity: 0.5;
 }

.squaredFour input[type=checkbox]:checked + label:after {
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
    filter: alpha(opacity=100);
    opacity: 1;
}

.squaredFour p{
    display: inline; 
}

.hidden{
    display:none;
}

.switch-field {
    overflow: hidden;
    margin-bottom: 10px;
}

.switch-title {
  	margin-bottom: 6px;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
  	float: left !important;
}

.switch-field label:hover {
	cursor: pointer;
	font-weight: bold;
	background-color: #1b4b6d !important;
	color: #fff !important;
}

.switch-field input:checked + label {
  	background-color: #eb2f23 !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	color: #fff !important;
}

fieldset {
	border: 0;
}

.state-postcode-wrapper {
    padding: 0 25px;
}

.state-postcode-wrapper p {
	margin-bottom: 5px!important;
}

input[type=number], input[type=text], input[type=button] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input[type=checkbox] {
	margin-top: 0!important;
}

.squaredFourCustomised {
    margin-bottom: 20px;
}

#apply-form .form-body p {
    border: none;
    overflow: hidden;
}

#apiEnquiryForm #terms {
	width: 25px!important;
	height: 25px!important;
	position: absolute!important;
}

#apiEnquiryForm .tooltip1 .tooltiptext {
	background-color: #fff;
}

.mobile-thanks {
	margin-top: 100px;
	margin-bottom: 50px;
}

.tooltip1 {
    position: relative;
    display: inline-block;
}

.tooltip1 .tooltiptext {
    visibility: hidden;
    width: 220px;
    background-color: #f0f0f0;
    color: #1f1f1f;
    text-align: left;
    border-radius: 0;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    font-size: 14px;
    line-height: 20px;
}

.tooltip1:hover .tooltiptext {
    visibility: visible;
}